<hr>
<div id="section-cta">
    <div class="buttonContainer">
    <a href="{{ section.settings.link }}" class="button" style="color: {{ section.settings.colortxt}}; background-color: {{section.settings.colorbtn}};" >{{ section.settings.linktext }}</a>
    </div>
</div>
<hr>

{% schema %}
{
  "name": "Button",
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext",
      "type": "text",
      "label": "Button text",
      "default": "Clique ici"
    },
    {
        "id": "colortxt",
        "type": "color",
        "label": "couleur du texte ",
        "default": "#FFFFFF"
    },
    {
        "id": "colorbtn",
        "type": "color",
        "label": "couleur du bouton",
        "default": "#000000"
    }
  ]
  ,
  "presets": [
    {
      "name": "Bouton",
      "category": "Nouveau Bouton"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}